.borders{
    display: flex;
    flex-wrap: wrap;
}


#solid{
    width: 100px;
    height: 100px;
    border-width: 10px;
    border-style: solid;
    padding: 15px 20px 15px 15px;
    border-color: red;
    text-align: center;
    color: darkblue;
    margin:5px;
}

#dotted{
    width: 120px;
    height: 120px;
    border-width: 5px;
    border-color: blue;
    border-style: dotted;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#dashed{
    width: 120px;
    height: 120px;
    border-width: 5px;
    border-color: blueviolet;
    border-style: dashed;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#double{
    width: 120px;
    height: 120px;
    border-width: 5px;
    border-color: chocolate;
    border-style: double;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#groove{
    width: 110px;
    height: 110px;
    border-width: 10px;
    border-color: yellow;
    border-style: groove;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#ridge{
    width: 110px;
    height: 110px;
    border-width: 10px;
    border-color: lightseagreen;
    border-style: ridge;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#inset{
    width: 110px;
    height: 110px;
    border-width: 10px;
    border-color: coral;
    border-style: inset;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

#outset{
    width: 110px;
    height: 110px;
    border-width: 10px;
    border-color: lightsalmon;
    border-style: outset;
    text-align: center;
    padding: 10px;
    margin: 5px;
}


img:hover{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    margin: 5px;
}
