h1{
    background-color: aqua;
    width: 20%;
}


body {
    background: linear-gradient(to left, lightpink,lightblue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.navbar {
    text-decoration: none;
    word-spacing: 50px;
    background: linear-gradient(red,blue,darkgreen);
    height: 30px;
    text-align: center;
    font-size: 20px;
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
    font-size: 25px;
    color: bisque;
}

a:hover{
    font-size:large;
    font-family: cursive;
}

h2{
    color: blue;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
